In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
### Preprocess the data

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)

In [4]:
# Encode categorical variables

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
# One-Hot encode 'Geography'ArithmeticError
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot-encoded columns with original data

data = pd.concat([data.drop('Geography', axis= 1), geo_encoded_df], axis = 1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
# Split the data into features and target

x = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [9]:
# Split data into trainijng and testing sets
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [10]:
# Scale these features

scaler = StandardScaler()
xtrain = scaler.fit_transform(xtrain)
xtest = scaler.transform(xtest)

In [11]:
# save the encoders and scaler for later use

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [12]:
# ANN Regression problem statement

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
# Build the model

model = Sequential([
    Dense(64, activation = 'relu', input_shape = (xtrain.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1) # Output layer for regression
])

# Compile the model

model.compile(optimizer='adam', loss = 'mean_absolute_error', metrics = ['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# set up tensorboard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [16]:
# Set up Early Staopping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model

history = model.fit(
    xtrain, ytrain,
    validation_data = (xtest, ytest),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 3s 6ms/step - loss: 100376.0156 - mae: 100376.0156 - val_loss: 98513.8672 - val_mae: 98513.8672
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99614.4141 - mae: 99614.4141 - val_loss: 96971.5391 - val_mae: 96971.5391
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96911.8672 - mae: 96911.8672 - val_loss: 93018.5234 - val_mae: 93018.5234
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 91599.2500 - mae: 91599.2500 - val_loss: 86439.9609 - val_mae: 86439.9609
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 83867.3047 - mae: 83867.3047 - val_loss: 77977.7422 - val_mae: 77977.7422
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 74804.7656 - mae: 74804.7656 - val_loss: 69123.9219 - val_mae: 69123.9219
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 66086.7500 - mae: 66086.7500 - val_loss: 61532.1094 - val_mae: 61532.1094
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 59118.9453 - mae: 59118.9453 - val_loss: 56039.8672 - val_mae: 56039.8672
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 54544.8398 - mae: 54544.8398 - val_loss: 52922.7734 - val_mae: 52922.7734
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 52051.3047 - mae: 52051.3047 - val_loss: 51512.2070 - val_mae: 51512.2070
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50942.3594 - mae: 50942.3594 - val_loss: 51038.6953 - val_mae: 51038.6953
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50535.7461 - mae: 50535.7461 - val_loss: 50893.4258 - val_mae: 50893.4258
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50365.8203 - mae: 50365.8203 - val_loss: 50814.1602 - val_mae: 50814.1602
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50262.0078 - mae: 50262.0078 - val_loss: 50745.4609 - val_mae: 50745.4609
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50191.3789 - mae: 50191.3789 - val_loss: 50682.3711 - val_mae: 50682.3711
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50130.7383 - mae: 50130.7383 - val_loss: 50632.9961 - val_mae: 50632.9961
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50086.8359 - mae: 50086.8359 - val_loss: 50594.7617 - val_mae: 50594.7617
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50040.9062 - mae: 50040.9062 - val_loss: 50564.5742 - val_mae: 50564.5742
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49999.1719 - mae: 49999.1719 - val_loss: 50541.7969 - val_mae: 50541.7969
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49966.7969 - mae: 49966.7969 - val_loss: 50505.8906 - val_mae: 50505.8906
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49935.5430 - mae: 49935.5430 - val_loss: 50483.8672 - val_mae: 50483.8672
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49905.2617 - mae: 49905.2617 - val_loss: 50464.2539 - val_mae: 50464.2539
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49880.9805 - mae: 49880.9805 - val_loss: 50441.2031 - val_mae: 50441.2031
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49854.5234 - mae: 49854.5234 - val_loss: 50431.0000 - val_mae: 50431.0000
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49829.1289 - mae: 49829.1289 - val_loss: 50403.2852 - val_mae: 50403.2852
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49812.1289 - mae: 49812.1289 - val_loss: 50388.8281 - val_mae: 50388.8281
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49788.6484 - mae: 49788.6484 - val_loss: 50378.2305 - val_mae: 50378.2305
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49769.5508 - mae: 49769.5508 - val_loss: 50371.8906 - val_mae: 50371.8906
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49752.7539 - mae: 49752.7539 - val_loss: 50356.8711 - val_mae: 50356.8711
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49737.9922 - mae: 49737.9922 - val_loss: 50339.2617 - val_mae: 50339.2617
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49718.1680 - mae: 49718.1680 - val_loss: 50331.4453 - val_mae: 50331.4453
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49704.1016 - mae: 49704.1016 - val_loss: 50327.3672 - val_mae: 50327.3672
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49689.9570 - mae: 49689.9570 - val_loss: 50322.1641 - val_mae: 50322.1641
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49671.4062 - mae: 49671.4062 - val_loss: 50311.7461 - val_mae: 50311.7461
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49659.8906 - mae: 49659.8906 - val_loss: 50303.0273 - val_mae: 50303.0273
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49648.6406 - mae: 49648.6406 - val_loss: 50300.6133 - val_mae: 50300.6133
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49634.7305 - mae: 49634.7305 - val_loss: 50307.1016 - val_mae: 50307.1016
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49622.6328 - mae: 49622.6328 - val_loss: 50309.3125 - val_mae: 50309.3125
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49608.9844 - mae: 49608.9844 - val_loss: 50293.0859 - val_mae: 50293.0859
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49600.4727 - mae: 49600.4727 - val_loss: 50295.0703 - val_mae: 50295.0703
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49589.0586 - mae: 49589.0586 - val_loss: 50290.9336 - val_mae: 50290.9336
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49580.6953 - mae: 49580.6953 - val_loss: 50289.4258 - val_mae: 50289.4258
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49574.5469 - mae: 49574.5469 - val_loss: 50288.7109 - val_mae: 50288.7109
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49561.1367 - mae: 49561.1367 - val_loss: 50293.1289 - val_mae: 50293.1289
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49553.3438 - mae: 49553.3438 - val_loss: 50289.7695 - val_mae: 50289.7695
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49546.5547 - mae: 49546.5547 - val_loss: 50289.1367 - val_mae: 50289.1367
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49540.1914 - mae: 49540.1914 - val_loss: 50297.9336 - val_mae: 50297.9336
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49532.7930 - mae: 49532.7930 - val_loss: 50288.8125 - val_mae: 50288.8125
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49525.2070 - mae: 49525.2070 - val_loss: 50288.9492 - val_mae: 50288.9492
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49515.0547 - mae: 49515.0547 - val_loss: 50290.2227 - val_mae: 50290.2227
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49509.5859 - mae: 49509.5859 - val_loss: 50275.9258 - val_mae: 50275.9258
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49500.5352 - mae: 49500.5352 - val_loss: 50272.3438 - val_mae: 50272.3438
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49496.0234 - mae: 49496.0234 - val_loss: 50279.5938 - val_mae: 50279.5938
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49487.4727 - mae: 49487.4727 - val_loss: 50283.6680 - val_mae: 50283.6680
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49478.9961 - mae: 49478.9961 - val_loss: 50277.4141 - val_mae: 50277.4141
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49476.8984 - mae: 49476.8984 - val_loss: 50287.2148 - val_mae: 50287.2148
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49470.4570 - mae: 49470.4570 - val_loss: 50294.5156 - val_mae: 50294.5156
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49463.3438 - mae: 49463.3438 - val_loss: 50299.8867 - val_mae: 50299.8867
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49456.5195 - mae: 49456.5195 - val_loss: 50297.4219 - val_mae: 50297.4219
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.6211 - mae: 49451.6211 - val_loss: 50297.8086 - val_mae: 50297.8086
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49447.2305 - mae: 49447.2305 - val_loss: 50292.1914 - val_mae: 50292.1914
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49441.1875 - mae: 49441.1875 - val_loss: 50317.4141 - val_mae: 50317.4141

In [18]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 5780), started 0:00:16 ago. (Use '!kill 5780' to kill it.)

In [22]:
## Evaluate model on test data

test_loss, test_mae = model.evaluate(xtest, ytest)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 50272.3438 - mae: 50272.3438
Test MAE : 50272.34375

In [23]:
model.save('regression_model.h5')